.container{
    display: grid;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.row div{
    border: 2px solid aqua;
    width: 70px;
    height: 70px; 
    text-align: center;
    display: grid;
    align-items: center;
}

#but{
    background-color: red;
    color: white;
    font-size: 20px;
}

#row .col-1{
    width: 70px;
    height: 70px; 
}

#row .col-3{
    width: 210px;
}

#res input{
    width: 250px;
    height: 65px;
}

.row .col-12{
    width: 280px;
    text-align: center;
    background-color: rgb(31, 178, 189);
    color: white;
}

